// Import all of Bootstrap's CSS

$enable-negative-margins: true;

@import "bootstrap/scss/bootstrap";

:root {
  --margin-top: 0.5rem;
}

.hero-margin-top {
  margin-top: -12%;
}

.hero_bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_overlay {
  // background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 0) 100%
  );
}

@include media-breakpoint-up(md) {
  .hero_overlay {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.hero_overlay {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 0) 100%
  );

  @include media-breakpoint-up(md) {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
